.bi:hover {
    cursor: pointer;
}

.bi:hover form {
    display: block;
}

.bi-tiktok {
    display: inline-block;
    /* left: 670px; */
}

#search {
    width: 0%;
    transition: width 0.4s ease-in-out;
}

.accordion-button:focus {
    border: none;
    box-shadow: none;
}

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
    background: none;
}

.bi-instagram {
    display: inline-block;
}

.search {
    display: table;
}
.search input {
    background: none;
    border: none;
    outline: none;
    width: 28px;
    min-width: 0;
    padding: 0;
    z-index: 1;
    position: relative;
    line-height: 18px;
    margin: 5px 0;
    font-size: 14px;
    -webkit-appearance: none;
    font-family: "Mukta Malar";
    transition: all 0.6s ease;
    cursor: pointer;
    color: black;
}
.search input + div {
    position: relative;
    height: 28px;
    width: 100%;
    margin: -28px 0 0 0;
}
.search input + div svg {
    display: block;
    position: absolute;
    height: 28px;
    width: 160px;
    right: 0;
    top: 0;
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
    stroke-dashoffset: 271.908;
    stroke-dasharray: 59 212.908;
    transition: all 0.6s ease;
}
.search input:not(:-moz-placeholder-shown) {
    width: 160px;
    padding: 0 4px;
    cursor: text;
}
.search input:not(:-ms-input-placeholder) {
    width: 160px;
    padding: 0 4px;
    cursor: text;
}
.search input:not(:placeholder-shown),
.search input:focus {
    width: 160px;
    padding: 0 4px;
    cursor: text;
}
.search input:not(:-moz-placeholder-shown) + div svg {
    stroke-dasharray: 150 212.908;
    stroke-dashoffset: 300;
}
.search input:not(:-ms-input-placeholder) + div svg {
    stroke-dasharray: 150 212.908;
    stroke-dashoffset: 300;
}
.search input:not(:placeholder-shown) + div svg,
.search input:focus + div svg {
    stroke-dasharray: 150 212.908;
    stroke-dashoffset: 300;
}

::-moz-selection {
    background: rgba(255, 255, 255, 0.2);
}

::selection {
    background: rgba(255, 255, 255, 0.2);
}

::-moz-selection {
    background: rgba(255, 255, 255, 0.2);
}

/* * {
    box-sizing: inherit;
} */
*:before,
*:after {
    box-sizing: inherit;
}

a.nav-link {
    color: black;
}

body {
    background-color: #f7efcc;
}

body h1 {
    margin-top: 120px;
    margin-bottom: 30px;
    font-family: "Cinzel", serif;
    color: #ffbf81;
    font-size: 60px;
}

body .contactp {
    font-family: "EB Garamond", serif;
    font-weight: lighter;
    font-size: 22px;
    color: #94612d;
}

.send-btn {
    border: 0;
    margin: 20px 0;
    background-color: #ffac81;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    width: 100px;
    height: 45px;
}

.send-btn:hover {
    cursor: pointer;
    background-color: #f7c0a4;
    font-family: "EB Garamond", serif;

    /* box-shadow: 2px 0px 2px white; */
}

.form {
    font-family: "EB Garamond", serif;
    font-size: 18px;
}

.form input,
textarea {
    background-color: rgb(252, 229, 209);
    border-radius: 6px;
    outline: none;
    border: 5px solid rgb(252, 229, 209) !important;
    font-size: 20px;
    letter-spacing: 2px;
}

.form input,
textarea:active {
    outline: none;
}

.form label {
    font-weight: bold;
    color: #ffac81;
    font-size: 20px;
    letter-spacing: 1px;
}

.ISAbox {
    border: 2px solid #ffbf81;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    /* background-color: rgba(70, 18, 18, 0.8); */
}
.ISA {
    font-family: "EB Garamond", serif;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    color: #ffbf81;
}

.ISA1 {
    font-family: "EB Garamond", serif;
    color: #94612d;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.app-btn {
    border: 0;
    margin: 20px 0;
    background-color: #ffac81;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    width: fit-content;
    padding: 20px;
    text-align: center;
    font-family: "EB Garamond", serif;
}

.app-btn:hover {
    cursor: pointer;
    background-color: #f7c0a4;
    /* box-shadow: 2px 0px 2px white; */
}

.navbar {
    width: 100%;
    background-color: #fff1e6;
}

.navbar-brand {
    font-family: "Playfair Display SC", serif;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 10px 20px 10px;
}

.navbar-brand a {
    text-decoration: none;
    color: black;
}

.navbar .nav-item {
    font-family: "Cinzel", serif;

    font-size: 16px;
}

.navbar .nav-link:hover {
    cursor: pointer !important;
    color: #e8a598 !important;
}

.happy .btn {
    border: 0;

    margin-top: 10px;
    background-color: black;
    color: white;
    font-size: 14px;
    border-radius: 20px;
    width: 246px;
    height: 45px;
}

footer {
    height: 50vh;
    padding-top: 40px;
    background-color: white;
}

footer .accordion-button {
    padding-left: 0;
}

footer .input {
    border-bottom: 1px solid black;
    transition: 0.5s;
}

footer .input:hover {
    border-bottom: 1px solid rgb(178, 177, 177);
}

footer .row {
    display: flex;
    justify-content: space-between;
}

.ftitle {
    font-weight: 900;
    font-family: "Cinzel", serif;
    font-size: 18px;
}
footer p {
    font-family: "Cormorant", serif;
    font-size: 16px;
}

footer p:hover {
    cursor: pointer;
}

footer input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-family: "Cormorant Garamond", serif;
    letter-spacing: 2px;
}

footer :placeholder-shown {
    font-family: "Cormorant", serif;
}

.line {
    width: max-content;
    position: relative;
    cursor: pointer;
    font-size: 18px;
}

.line::after {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 1px;
    width: 100%;
    left: 0;
    background: none;
    border-bottom: 1px solid #000;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

.line:hover::after {
    transform: scaleX(1);
}

.accordian-body {
    padding: 0 !important;
}

@media (max-width: 992px) {
    footer {
        height: auto;
        padding-top: 40px;
    }

    footer .row {
        display: block;
    }

    footer .em-line {
        border-bottom: 1px solid black;
        width: auto;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    footer {
        padding-top: 40px;
    }
    footer .line {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid rgb(167, 167, 167);
    }

    footer .line {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid rgb(167, 167, 167);
    }
}
