.bi:hover {
    cursor: pointer;
}

.bi:hover form {
    display: block;
}

.bi-tiktok {
    display: inline-block;
    /* left: 670px; */
}

#search {
    width: 0%;
    transition: width 0.4s ease-in-out;
}

.accordion-button:focus {
    border: none;
    box-shadow: none;
}

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
    background: none;
}

.bi-instagram {
    display: inline-block;
}

.search {
    display: table;
}
.search input {
    background: none;
    border: none;
    outline: none;
    width: 28px;
    min-width: 0;
    padding: 0;
    z-index: 1;
    position: relative;
    line-height: 18px;
    margin: 5px 0;
    font-size: 14px;
    -webkit-appearance: none;
    font-family: "Mukta Malar";
    transition: all 0.6s ease;
    cursor: pointer;
    color: black;
}
.search input + div {
    position: relative;
    height: 28px;
    width: 100%;
    margin: -28px 0 0 0;
}
.search input + div svg {
    display: block;
    position: absolute;
    height: 28px;
    width: 160px;
    right: 0;
    top: 0;
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
    stroke-dashoffset: 271.908;
    stroke-dasharray: 59 212.908;
    transition: all 0.6s ease;
}
.search input:not(:-moz-placeholder-shown) {
    width: 160px;
    padding: 0 4px;
    cursor: text;
}
.search input:not(:-ms-input-placeholder) {
    width: 160px;
    padding: 0 4px;
    cursor: text;
}
.search input:not(:placeholder-shown),
.search input:focus {
    width: 160px;
    padding: 0 4px;
    cursor: text;
}
.search input:not(:-moz-placeholder-shown) + div svg {
    stroke-dasharray: 150 212.908;
    stroke-dashoffset: 300;
}
.search input:not(:-ms-input-placeholder) + div svg {
    stroke-dasharray: 150 212.908;
    stroke-dashoffset: 300;
}
.search input:not(:placeholder-shown) + div svg,
.search input:focus + div svg {
    stroke-dasharray: 150 212.908;
    stroke-dashoffset: 300;
}

::-moz-selection {
    background: rgba(255, 255, 255, 0.2);
}

::selection {
    background: rgba(255, 255, 255, 0.2);
}

::-moz-selection {
    background: rgba(255, 255, 255, 0.2);
}

/* * {
    box-sizing: inherit;
} */
*:before,
*:after {
    box-sizing: inherit;
}

a.nav-link {
    color: black;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.happy .btn {
    border: 0;

    margin-top: 10px;
    background-color: black;
    color: white;
    font-size: 14px;
    border-radius: 20px;
    width: 246px;
    height: 45px;
}

footer {
    height: 50vh;
    padding-top: 80px;
    background-color: white;
}
footer .accordion-button {
    padding-left: 0;
}

@media (max-width: 992px) {
    footer {
        height: 50vh;
        padding-top: 80px;
    }
}

@media screen and (max-width: 768px) {
    footer {
        height: 40vh;
        padding-top: 40px;
    }
    footer .line {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid rgb(167, 167, 167);
    }
}
