.bi:hover {
    cursor: pointer;
}

.bi:hover form {
    display: block;
}

.bi-tiktok {
    display: inline-block;
    /* left: 670px; */
}

#search {
    width: 0%;
    transition: width 0.4s ease-in-out;
}

.accordion-button:focus {
    border: none;
    box-shadow: none;
}

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
    background: none;
}

.bi-instagram {
    display: inline-block;
}

.search {
    display: table;
}
.search input {
    background: none;
    border: none;
    outline: none;
    width: 28px;
    min-width: 0;
    padding: 0;
    z-index: 1;
    position: relative;
    line-height: 18px;
    margin: 5px 0;
    font-size: 14px;
    -webkit-appearance: none;
    font-family: "Mukta Malar";
    transition: all 0.6s ease;
    cursor: pointer;
    color: black;
}
.search input + div {
    position: relative;
    height: 28px;
    width: 100%;
    margin: -28px 0 0 0;
}
.search input + div svg {
    display: block;
    position: absolute;
    height: 28px;
    width: 160px;
    right: 0;
    top: 0;
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
    stroke-dashoffset: 271.908;
    stroke-dasharray: 59 212.908;
    transition: all 0.6s ease;
}
.search input:not(:-moz-placeholder-shown) {
    width: 160px;
    padding: 0 4px;
    cursor: text;
}
.search input:not(:-ms-input-placeholder) {
    width: 160px;
    padding: 0 4px;
    cursor: text;
}
.search input:not(:placeholder-shown),
.search input:focus {
    width: 160px;
    padding: 0 4px;
    cursor: text;
}
.search input:not(:-moz-placeholder-shown) + div svg {
    stroke-dasharray: 150 212.908;
    stroke-dashoffset: 300;
}
.search input:not(:-ms-input-placeholder) + div svg {
    stroke-dasharray: 150 212.908;
    stroke-dashoffset: 300;
}
.search input:not(:placeholder-shown) + div svg,
.search input:focus + div svg {
    stroke-dasharray: 150 212.908;
    stroke-dashoffset: 300;
}

::-moz-selection {
    background: rgba(255, 255, 255, 0.2);
}

::selection {
    background: rgba(255, 255, 255, 0.2);
}

::-moz-selection {
    background: rgba(255, 255, 255, 0.2);
}

*:before,
*:after {
    box-sizing: inherit;
}

a.nav-link {
    color: black;
}

.navbar {
    width: 100%;
    background-color: #fff1e6;
}

.navbar-brand {
    font-family: "Playfair Display SC", serif;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 10px 20px 10px;
}

.navbar-brand a {
    text-decoration: none;
    color: black;
}

.navbar .nav-item {
    font-family: "Cinzel", serif;

    font-size: 16px;
}

.navbar .nav-link:hover {
    cursor: pointer !important;
    color: #e8a598 !important;
}

header {
    background: url("./img/2-PhotoRoom.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
}

header h1 {
    position: absolute;
    z-index: 3;
    color: #fae1dd;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Playfair Display", serif;
    font-size: 60px !important;
    /* text-shadow: 2px 2px black; */
}

body {
    background-color: #fff8f2;
}

body h1 {
    text-align: center;
    font-size: 50px;
    text-decoration: wavy;
    font-family: "Cinzel", serif;
}

body .descp {
    font-family: "Josefin Slab", serif;
    font-weight: 500;
    font-size: 24px;
}

.pic {
    position: relative;
}

.pic .hoverimg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    /* width: fit-content;
  height: fit-content; */
}

.pic .hovercaption {
    display: none;
}

.pic:hover {
    cursor: pointer;
}

.pic:hover .hoverimg {
    display: block;
}

.pic:hover .hovercaption {
    display: block;
}

.pic img {
    /* height: 500px; */
    object-fit: contain;
}

.hovercaption {
    float: left;
    font-family: "Josefin Slab", serif;
    font-size: 18px;
    color: #93adc6;
}

.caption {
    font-family: "Josefin Slab", serif;
    font-size: 18px;
    margin-top: 30px;
}

.caption .price {
    font-weight: bold;
    letter-spacing: 2px;
}

/* .body-container{
  scroll-snap-type: mandatory; */
/* scroll-snap-points-y: repeat(300px); */
/* scroll-snap-type: x mandatory;
} */

.child {
    scroll-snap-align: start;
}
section h1 {
    padding: 20px;
}

/* .row {
    margin-bottom: 60px;
} */
.founder {
    background-color: #fff1e6;
    padding-bottom: 50px;
}

.founder .outer-img {
    border: 2px solid white;
    width: fit-content;
    padding: 20px;
}

.founder img {
    height: 500px;
    object-fit: contain;
    transition: all 1s ease;
}

.founder img:hover {
    height: 550px;
    /* width: 500px; */
    /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.founder p {
    position: absolute;
    top: 50%;
    left: 65%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
    font-size: 35px;
    font-weight: 500;
    color: #e79686;
    /* line-height: 60px; */
}

footer {
    height: 50vh;
    padding-top: 40px;
    background-color: white;
}

footer .accordion-button {
    padding-left: 0;
}

footer .input {
    border-bottom: 1px solid black;
    transition: 0.5s;
}

footer .input:hover {
    border-bottom: 1px solid rgb(178, 177, 177);
}

footer .row {
    display: flex;
    justify-content: space-between;
}

.ftitle {
    font-weight: 900;
    font-family: "Cinzel", serif;
    font-size: 18px;
}
footer p {
    font-family: "Cormorant", serif;
    font-size: 16px;
}

footer p:hover {
    cursor: pointer;
}

footer input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-family: "Cormorant Garamond", serif;
    letter-spacing: 2px;
}

footer :placeholder-shown {
    font-family: "Cormorant", serif;
}

.line {
    width: max-content;
    position: relative;
    cursor: pointer;
    font-size: 18px;
}

.line::after {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 1px;
    width: 100%;
    left: 0;
    background: none;
    border-bottom: 1px solid #000;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

.line:hover::after {
    transform: scaleX(1);
}

.accordian-body {
    padding: 0 !important;
}

@media (max-width: 992px) {
    footer {
        height: auto;
        padding-top: 40px;
    }

    footer .row {
        display: block;
    }

    footer .em-line {
        border-bottom: 1px solid black;
        width: auto;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    footer {
        padding-top: 40px;
    }
    footer .line {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width: 700px) {
    header {
        background: url(img/7.jpg);
        background-size: cover;
    }
}

/* @media (max-width: 500px) {
    .caption {
        font-size: 16px;
    }
    body h1 {
        font-size: 30px;
    }

    body .descp {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    .caption {
        font-size: 14px;
    }
} */
