.bi:hover {
    cursor: pointer;
}

.bi:hover form {
    display: block;
}

.bi-tiktok {
    display: inline-block;
    /* left: 670px; */
}

#search {
    width: 0%;
    transition: width 0.4s ease-in-out;
}

.accordion-button:focus {
    border: none;
    box-shadow: none;
}

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
    background: none;
}

.bi-instagram {
    display: inline-block;
}

.search {
    display: table;
}
.search input {
    background: none;
    border: none;
    outline: none;
    width: 28px;
    min-width: 0;
    padding: 0;
    z-index: 1;
    position: relative;
    line-height: 18px;
    margin: 5px 0;
    font-size: 14px;
    -webkit-appearance: none;
    font-family: "Mukta Malar";
    transition: all 0.6s ease;
    cursor: pointer;
    color: black;
}
.search input + div {
    position: relative;
    height: 28px;
    width: 100%;
    margin: -28px 0 0 0;
}
.search input + div svg {
    display: block;
    position: absolute;
    height: 28px;
    width: 160px;
    right: 0;
    top: 0;
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
    stroke-dashoffset: 271.908;
    stroke-dasharray: 59 212.908;
    transition: all 0.6s ease;
}
.search input:not(:-moz-placeholder-shown) {
    width: 160px;
    padding: 0 4px;
    cursor: text;
}
.search input:not(:-ms-input-placeholder) {
    width: 160px;
    padding: 0 4px;
    cursor: text;
}
.search input:not(:placeholder-shown),
.search input:focus {
    width: 160px;
    padding: 0 4px;
    cursor: text;
}
.search input:not(:-moz-placeholder-shown) + div svg {
    stroke-dasharray: 150 212.908;
    stroke-dashoffset: 300;
}
.search input:not(:-ms-input-placeholder) + div svg {
    stroke-dasharray: 150 212.908;
    stroke-dashoffset: 300;
}
.search input:not(:placeholder-shown) + div svg,
.search input:focus + div svg {
    stroke-dasharray: 150 212.908;
    stroke-dashoffset: 300;
}

::-moz-selection {
    background: rgba(255, 255, 255, 0.2);
}

::selection {
    background: rgba(255, 255, 255, 0.2);
}

::-moz-selection {
    background: rgba(255, 255, 255, 0.2);
}

/* * {
    box-sizing: inherit;
} */
*:before,
*:after {
    box-sizing: inherit;
}

a.nav-link {
    color: black;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

header {
    background: url("./img/bg.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
}

header h1 {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Playfair Display", serif;
    font-size: 120px;
    letter-spacing: 5px;
}

/* .overlay {
  position: absolute;
  z-index: 2;
  background: rgba(255, 255, 255, 0.5);
} */

.building {
    background: url("./img/la\ galerie\ dior.jpg");
    background-size: cover;
    height: 120vh;
    position: relative;
}

.building p {
    position: absolute;
    font-size: 24px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Cinzel", serif;
}

.about {
    /* background: url("./img/about.webp"); */
    background-color: #fff1e6;
    /* width: 100%; */
    text-align: center;
    padding: 60px;
    position: relative;
    z-index: 1;
    /* height: fit-content; */
    font-size: 20px;
}

/* .about::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.25);
} */

.about h2 {
    padding: 50px;
    font-size: 40px;
    border-bottom: 2px solid white;
    font-family: "Cinzel", serif;
    color: #e8a598;
}

.text {
    border: 2px solid white;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    font-family: "Cormorant Garamond", serif;
    font-size: 28px;
    font-weight: 500;
    color: #ac8f81;
}

.founder {
    background-color: #fff1e6;
    padding-bottom: 50px;
}

.founder .outer-img {
    border: 2px solid white;
    width: fit-content;
    padding: 20px;
}

.founder img {
    height: 500px;
    object-fit: contain;
    transition: all 1s ease;
}

.founder img:hover {
    height: 700px;
    /* width: 500px; */
    /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.founder p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
    font-size: 35px;
    font-weight: 500;
    color: #e8a598;
    /* line-height: 60px; */
}

.jisoo {
    background-color: #fff1e6;
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
    height: 200vh;
}

.jisoo .title {
    font-family: "Cinzel", serif;
    color: #e8a598;
    text-align: center;
    font-size: 80px;
    text-decoration: underline;
}

.jisoo img {
    height: 300px;
    width: 300px;
}

.jisoo .j-img1 {
    position: absolute;
    top: 200px;
    left: 400px;
}

.jisoo .j-img2 {
    position: absolute;
    top: 400px;
    right: 400px;
}

.jisoo .j-img3 {
    position: absolute;
    top: 600px;
    left: 400px;
}

.jisoo .j-img4 {
    position: absolute;
    top: 800px;
    right: 400px;
}

.jisoo .j-img5 {
    position: absolute;
    top: 1000px;
    left: 400px;
}

.jisoo .j-img6 {
    position: absolute;
    top: 1200px;
    right: 400px;
}

footer {
    height: 50vh;
    padding-top: 80px;
    background-color: white;
}

footer .accordion-button {
    padding-left: 0;
}

@media (max-width: 992px) {
    .building {
        height: 80vh;
        position: relative;
    }

    .founder img {
        height: 400px;
    }

    .founder img:hover {
        height: 500px;
    }
    .founder p {
        font-size: 25px;
    }

    .jisoo {
        background-color: #fff1e6;
        padding-bottom: 50px;
        position: relative;
        height: 200vh;
    }

    .jisoo .title {
        font-size: 50px;
    }

    .jisoo img {
        height: 300px;
        width: 300px;
    }

    .jisoo .j-img1 {
        position: absolute;
        top: 150px;
        left: 100px;
    }

    .jisoo .j-img2 {
        position: absolute;
        top: 350px;
        right: 100px;
    }

    .jisoo .j-img3 {
        position: absolute;
        top: 550px;
        left: 100px;
    }

    .jisoo .j-img4 {
        position: absolute;
        top: 750px;
        right: 100px;
    }

    .jisoo .j-img5 {
        position: absolute;
        top: 950px;
        left: 100px;
    }

    .jisoo .j-img6 {
        position: absolute;
        top: 1150px;
        right: 100px;
    }

    footer {
        height: 50vh;
        padding-top: 80px;
    }
}

@media screen and (max-width: 768px) {
    .building {
        height: 50vh;
        position: relative;
    }

    .building p {
        font-size: 25px;
    }

    .text {
        font-size: 25px;
    }

    .about h2 {
        padding: 10px;
        font-size: 35px;
    }

    .founder img {
        height: 400px;
    }

    .founder img:hover {
        height: 500px;
    }
    .founder p {
        margin-top: 70px;
        position: relative;
        top: 120px;
        font-size: 30px;
    }

    .jisoo {
        background-color: #fff1e6;
        padding-bottom: 50px;
        padding-top: 50px;
        position: unset;
        height: auto;
        text-align: center;
    }

    .jisoo .title {
        font-size: 40px;
    }

    .jisoo img {
        height: 300px;
        width: 300px;
        margin-bottom: 20px;
    }

    .jisoo .j-img1 {
        position: unset;
    }

    .jisoo .j-img2 {
        position: unset;
    }

    .jisoo .j-img3 {
        position: unset;
    }

    .jisoo .j-img4 {
        position: unset;
    }

    .jisoo .j-img5 {
        position: unset;
    }

    .jisoo .j-img6 {
        position: unset;
    }

    footer {
        height: 40vh;
        padding-top: 40px;
    }
    footer .line {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid rgb(167, 167, 167);
    }
}
